
!.gitignore
!fileMainten/*
!fileMainten/Default.jpg
!fileMasterAsset/*
!fileMasterAsset/Default.jpg
!fileQR/*
!Default.jpg
!audio/*
!audio/beep1.wav
!asset/*
!asset/print.css
!asset/ATS_dark.png
!asset/ATS_light.png


